.dvs-blocker {
  @apply dvs-bg-black dvs-opacity-75 dvs-fixed dvs-inset-0 dvs-z-40;

  filter: blur(10px);

  &.dvs-blocker-light {
    @apply dvs-opacity-25;
  }

}

.dvs-sidebar-hint {
  @apply dvs-fixed dvs-top-0 dvs-left-0 dvs-rounded-r-full dvs-rounded-b-full dvs-ml-1 dvs-mt-1 dvs-cursor-pointer dvs-shadow-lg dvs-text-gray-900 dvs-p-3;
  
  font-size:16px;
  top: '-100px';
  left: '-100px';
  background: rgb(2,0,36);
  background: linear-gradient(144deg, #D3CCE3 0%, #E9E4F0 100%);
  border:1px solid #fafafa;
  z-index: 9999999999;
  height:50px;
  width:50px;

}