.dvs-outline-none {
  &:focus {
    outline:0;
  }
}

.dvs-btn {
  @apply dvs-p-3 dvs-px-8 dvs-text-center dvs-rounded dvs-uppercase dvs-text-xs dvs-font-bold dvs-cursor-pointer dvs-outline-none;

  transition: background-color 0.5s;

  &:focus {
    outline-style: none;
  }

  &.dvs-toggle {
    @apply dvs-bg-grey-dark;

    &.dvs-on {
      @apply dvs-bg-green;
    }
  }

  &.dvs-btn-round {
    @apply dvs-rounded-full;

    line-height:1em;
  }

  &.dvs-btn-sm {
    @apply dvs-py-2 dvs-px-4 dvs-text-xs;
  }

  &.dvs-btn-xs {
    @apply dvs-py-2 dvs-px-3 dvs-text-xs;
  }

  &.dvs-btn-2xs {
    @apply dvs-py-2 dvs-px-3 dvs-text-2xs;
  }

  &.dvs-btn-zero {
    @apply dvs-p-0;
  }

  &.dvs-btn-lg {
    @apply dvs-py-6 dvs-px-4 dvs-text-lg;
  }

  &.dvs-btn-xl {
    @apply dvs-py-8 dvs-px-6 dvs-text-xl;
  }

  &:disabled {
    @apply dvs-bg-grey-light
  }

  &.dvs-btn-primary {
    @apply dvs-bg-admin-highlight dvs-text-admin-highlight-fg;

    transition: 500ms all;

    &:hover {
      @apply dvs-opacity-75;
    }
  }

  &.dvs-btn-secondary {
    @apply dvs-bg-admin-bg dvs-text-admin-fg;

    transition: 500ms all;

    &:hover {
      @apply dvs-opacity-75;
    }
  }

  &.dvs-btn-ghost {
    @apply dvs-bg-transparent dvs-border-2 dvs-border-admin-fg;
  }

  &.dvs-btn-danger {
    @apply dvs-bg-red-dark dvs-text-white;

    &:hover {
      @apply dvs-bg-red dvs-text-white;
    }
  }

  &:disabled {
    @apply dvs-opacity-75 dvs-cursor-not-allowed;
  }
}

.dvs-chosen-drag-slice {
    background-color:rgba(0,0,0,0.5)
}
