body {
  height: 100vh;
  overflow-y: scroll;
}

body.dvs-admin-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; /* Avoid width reflow */

  #dvs-admin-panels {
    > div > div > div {
      @apply pointer-events-auto;
    }
  }
}

@responsive {
  .dvs-border-box {
    box-sizing: border-box;
  }
  .dvs-content-box {
    box-sizing: content-box;
  }
}
